.list {
    li {
        &:hover{
            background-color: white;
        }
        display: flex;
        align-items: center;
        padding: 15px 15px;
        cursor: pointer;
        margin: 5px;

        &.active {
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
            border-radius: 4px;
        }

        i {
            margin-right: 10px;
            display: flex;
        }
    }
}

.delete{
    margin-left: 30px;
    cursor: pointer;
}